// Variables
// ----------------------------------------------------------------------------

:root {
	--chalky-tv-channel-count: 9;
	--chalky-tv-hour-height: 200px;
	--chalky-tv-schedule-gap: 1px;
	--chalky-tv-schedule-header-size: 80px;
	--chalky-tv-schedule-item-margin: 4px 2px;
	--chalky-tv-schedule-item-width: 320px;
	--chalky-tv-schedule-sidebar-size: 120px;

	--chalky-utilityscreen-zindex: 500;

	--chalky-venue-list-thumbnail-size: 150px;
}
